.discovery-tool {
  display: grid;
  grid-template-columns: 1fr, 1fr;
}

.stack {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr;
}

.bubbles {
  grid-column: 2/3;
  justify-self: start;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: minmax(50px, 1fr);
  align-self: start;
  gap: 5px;
}

.bubbles > div:nth-child(odd) {
  grid-column: 1/2;
}

.bubbles > div:nth-child(even) {
  grid-column: 2/3;
}

.playlist-container {
  overflow: hidden;
  display: grid;
}

.playlist-item {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
