.recommended {
  /* padding: 0; */
  /* margin: 0; */
  position: relative;
  max-width: 500px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next,
.prev {
  /* top: calc(50% - 20px); */
  position: absolute;
  background: rgb(200, 200, 200);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  z-index: 2;
}

.next {
  right: 130px;
}

.prev {
  left: 130px;
}

.recommended a {
  position: absolute;
}
