.recommended {
    /* padding: 0; */
    /* margin: 0; */
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next,
.prev {
  /* top: calc(50% - 20px); */
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 900px;
}

.prev {
  left: 900px;
}

.recommended img {
    position: absolute;
}