/* home page */

.home {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

/* discovery page */
.discover {
  display: grid;
  grid-template-columns: 0.6fr 0.8fr 1.7fr 1.1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  grid-template-areas: 'controls builder discovery preview';
}

.controls {
  /* grid-area: builder; */
  grid-column: 1/2;
}

.builder {
  grid-area: builder;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(49, 114, 75, 0.8);
  padding-bottom: 45px;
}

.discovery-tool {
  grid-area: discovery;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(49, 114, 75, 0.8);
}

.preview {
  grid-area: preview;
}
