/* home page */

.home {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

/* discovery page */
.discover {
  display: grid;
  grid-template-columns: 0.6fr 0.6fr 1.7fr 1.2fr;
  grid-template-rows: 1fr;
  gap: 40px 0px;
  grid-template-areas: '. builder discovery preview';
}

.builder {
  grid-area: builder;
}

.discovery-tool {
  grid-area: discovery;
}

.preview {
  grid-area: preview;
}
