.App {
  text-align: center;
}

 .cat {
 border-radius: 50%;
 height: 100px;
 width: 100px;

}

.green {
  border-radius: 50%;
 height: 100px;
 width: 100px

}

.red {
  border-radius: 50%;
 height: 100px;
 width: 100px

}